# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:
- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciPy
5. PyTorch
6. Keras

| Data Science Tools |
|--------------------|
|MySQL|
|mongoDB|
|ceph|
|hadoop|
|couchDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
# 200 minutes into hours
200/60

3.3333333333333335

## Author
Atharva Gangurde